# Virtual Environments 
.venv/
venv/
ENV/
env/

# Datasets
data/raw/
data/reference/
data_processed/gt
data_processed/input
ref/
*.mp4
*.avi
*.mov

# Weights, Checkpoints & Model Outputs
checkpoints/best.pth
checkpoints/last.pth
checkpoints/ckpt_small.zip
*.pth
*.pt
*.onnx

# Python & Jupyter Caches
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

# VS Code & Environment Configs
.vscode/
.env

# System Files
.DS_Store
Thumbs.db

# BVI Mamba
BVI-Mamba/

# Zip file
*.zip

# Footage
footage_1/
footage_2/