# PyTorch Base 
torch>=2.0.0
torchvision
torchaudio

# Computer Vision & Augmentation
opencv-python
pillow
scikit-image
albumentations

# Tensor Operations & Architecture Dependencies
einops
timm
scipy
h5py

# Metrics & Evaluation (Kuantitatif & Quality Index)
torchmetrics
pyiqa

# Utilities, Plotting & Jupyter Environment
matplotlib
tqdm
pandas
numpy
jupyterlab
ipykernel